<HTML lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <title>Login</title>
  <h1>Login</h1>

</head>
<body>
<form method="post" name="myForm" action="/login" onbeforematch="/token">
  <div class="mb-3">
    <label for="userEmailInput">Email:</label>
    <input type="email" class="form-control" name="email" id="userEmailInput" placeholder="Enter your email">
    <small id="text" class="form-text text-muted"></small>
  </div>
  <div>
    <label for="userPasswordInput">Password:</label>
    <input type="password" class="form-control" name="password" id="userPasswordInput" placeholder="Enter your email">
    <small id="text1" class="form-text text-muted"></small>
  </div>
  <div class="mb-3">
  <button type="submit" class="btn btn-primary">Login</button>
    <a id="text2"></a>
    <a href="/register">If you don't have an account, register here</a>
  </div>
</form>
<script>
  var token;

  function redirectWhenS() {
    var userEmailInput = document.getElementById('userEmailInput').value;
    var userPasswordInput = document.getElementById('userPasswordInput').value;

    const aText = document.getElementById('text2');

    fetch("/login", {
      method: "POST",
      body: JSON.stringify({ email: userEmailInput, password: userPasswordInput }),
      headers: {
        "Content-Type": "application/json",
      },
    }).then(response => {
      if (response.status === 200) {
        return response.json();
      } else {
        throw new Error("Wrong password or email");
      }
    }).then(data => {
      token = data.token;
      return fetch("/token", {
        method: "POST",
        body: JSON.stringify({ token: token }),
        headers: {
          "Content-Type": "application/json",
        },
      });
    }).then(response => {
      if (response.status === 200) {
        sendToken();
      } else {
        throw new Error("Wrong password or email");
      }
    }).catch(error => {
      console.error('Error', error);
      aText.innerHTML = error.message;
    });
  }

  function sendToken(){

      const fetchOptions = {
        method: "GET",
        headers: {
          'Authorization': 'Bearer ${token}'
        },

      }
      fetch("/profile",fetchOptions)
              .then(response => {
                if (response.status === 200){
                  window.location.href = "/profile"
                } else{

                }
              })
              .catch(err => {
                console.log(err);
              })
  }

  document.querySelector('form[name="myForm"]').addEventListener('submit', function (event) {
    event.preventDefault();
    redirectWhenS();
  });
</script>



</body>
</HTML>